---
import Welcome from '../components/Welcome.astro';

import Layout from '../layouts/Layout.astro';
import Contact from '../components/Contact.astro';
import Projects from '../components/Projects.astro';


---

<Layout title="Home">
	<main>
		
			<Welcome />
			
			
	<section id="home">

	</section>

	<section  id="projects">
		<Projects />
	</section>

	<section  id="contact">
			<Contact />
	</section>

	</Layout>
</Layout>
