

<section id="contact">

  <div class="contact-wrap">


    <div class="contact-text">
  <h2>Contact Me!</h2>
  
  <h4>Feel free to reach out to me via email! </h4>
  <p>Have any questions? Fill out the form and I’ll get you a response soon!</p> 
  
  
  <p class="contact-email"> 
    Email me at 
    <a href="mailto:javierevans509@gmail.com">
      javierevans509@gmail.com
    </a>
  </p>
    </div>
    <div class="contact-visual">
    <form action="https://formspree.io/f/mayvlgvd" method="POST">
      <input type="hidden" name="_subject" value="New message from portfolio site">

        
      <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    
        <label for="email">Email:</label>
        <input type="email" id="email" name="_replyto" required>
    
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="5" required></textarea>
    
        <button type="submit">Send</button>
        </form>
     </div>
    </div>
</section>