---

---

<section id="welcome" >
         <h1>Javier Evans</h1>
        <p><b>Cs Student, aspiring software engineer, novice webdeveloper</b></p>
       <p>I’m looking to learn the intricacies of software engineering so I can help develop the world of tomorrow.</p>
    </section>